<div class="w-full">
  <div class="w-full ">
    <img class="w-full h-[30vh] md:h-auto object-cover rounded-none md:rounded-xl" src="/product/image-product-1.jpg" alt="image 1">
  </div>
  <div class="hidden md:flex thumbnail-images [&>img]:w-28 [&>img]:rounded-xl [&>img]:h-auto [&>img]:object-contain justify-between mt-4">
    <img src="/product/image-product-1-thumbnail.jpg" alt="thumbnail image 1">
    <img src="/product/image-product-2-thumbnail.jpg" alt="thumbnail image 2">
    <img src="/product/image-product-3-thumbnail.jpg" alt="thumbnail image 3">
    <img src="/product/image-product-4-thumbnail.jpg" alt="thumbnail image 4">
  </div>
</div>
