---
import {Header} from '../components/Header';
import Carousel from '../components/Carousel.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="E-commerce pdp">
	<Header client:idle />
	<main>

		<div class="max-w-5xl mx-auto grid grid-cols-autofit gap-16 mt-16">
			<Carousel />
			
			<div class="flex justify-center items-center">
				<div class="flex flex-col gap-8">
					<div>Sneaker Company</div>
					<h1>Fall Limited Edition Sneakers</h1>
					<p class="description">
						These low-profile sneakers are your perfect casual wear companion. Featuring a 
						durable rubber outer sole, they’ll withstand everything the weather can offer.
					</p>
					<div class="price">
						$125.00
						50%
						$250.00
					</div>

					<div class="flex flex-row gap-4 h-8">
						<div class="flex justify-evenly items-center bg-light-gray-blue rounded-lg p-6">
							<button>
								<svg height="4" width="12">
									<use xlink:href="/svg/icon-minus.svg#icon-minus"></use>
								</svg>
							</button>
							<input type="text" value="0" class="text-center bg-light-gray-blue outline-none">
							<button>
								<svg height="12" width="12">
									<use xlink:href="/svg/icon-plus.svg#icon-plus"></use>
								</svg>
							</button>
						</div>

						<button class="btn w-full bg-primary border-none rounded-lg p-5 flex justify-center items-center gap-3 text-white">
							<span>
								<svg height="20" width="22">
									<use xlink:href="/svg/icon-cart.svg#icon-cart"></use>
								</svg>	
							</span>
							Add to cart
						</button>
					</div>
				</div>
			</div>		
		</div>
	</main>
</Layout>


<style>

	



	
	
</style>
