---
import {Header} from '../components/Header';
import {Carousel} from '../components/Carousel.jsx';
import Layout from '../layouts/Layout.astro';
import { InputGroup } from '../components/InputGroup';
---

<Layout title="E-commerce pdp">
	<Header client:idle />
	<main>
		<div class="max-w-none md:max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 lg:gap-14 mt-0 md:mt-16 md:px-6">
			<Carousel client:idle />
			
			<div class="flex justify-center items-center px-6">
				<div class="flex flex-col gap-4 md:gap-8">
					<div class="text-primary font-bold uppercase">Sneaker Company</div>
					<h1 class="text-4xl font-bold">Fall Limited Edition Sneakers</h1>
					<p class="text-slate-500">
						These low-profile sneakers are your perfect casual wear companion. Featuring a 
						durable rubber outer sole, they’ll withstand everything the weather can offer.
					</p>
					<div class="flex flex-row md:flex-col items-center md:items-start  justify-between font-bold gap-2">
						<div class="flex justify-start items-center gap-4">
							<span class="text-3xl">$125.00</span>
							<span class="bg-secondary text-primary p-1 rounded text-sm">50%</span>
						</div>
						<div class="text-slate-500">
							$250.00
						</div>
					</div>
						<InputGroup client:idle />						
					</div>
				</div>
			</div>		
		</div>
	</main>
</Layout>

